---
layout: minimal
---
<div class="tags">
</div>
  <span class="tag-title" id="java">JAVA</span>
  <ul id="post-list">
    {% for post in site.categories.java %}
        {% if post.title != null %}
            {% if group == null or group == post.group %}
            <li>
							<a href="{{ site.url }}{{ post.url }}">{{ post.title }}
								<span class="entry-date">
							  	<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%m/%d/%Y" }}</time>
                </span>
							</a>
						</li>
            {% endif %}
        {% endif %}
    {% endfor %}
  </ul>

