---
layout: compress
---

<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <!-- google adsense -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({
                      google_ad_client: "ca-pub-7784001917683726",
                      enable_page_level_ads: true
                 });
            </script>
            <section class="content">
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>

